.display {
  max-width: 450px;
  margin: 0px auto;
  padding-bottom: 130px;
  display: block;
}

.display > form > .title {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px 0px 1em;
  font-size: 30px;
  margin-bottom: 5px;
}

.div_subject {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 24px;
}

.div_subject > .subject {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  width: 100%;
  padding-bottom: 8px;
}

.div_subject > .text {
  appearance: none;
  background-image: none;
  border: 0px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 14px;
  background-color: var(--background-base,#ffffff);
  box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
  color: var(--text-base,#000000);
}

.div_subject > .subject_info {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-top: 8px;
  color: var(--text-subdued,#575757);
}

.agree_checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.agree_checkbox > input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.agree_checkbox > input:checked + .agree_checkbox_dummy {
  background: #169b45;
}
.agree_checkbox > input:checked + .agree_checkbox_dummy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px;
  border-radius: 1px;
  transform: translate(-3px, 2.5px) rotateZ(-130deg);
  transform-origin: 1px 1px;
  background: #FFFFFF;
}
.agree_checkbox > input:checked + .agree_checkbox_dummy::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76%;
  height: 2px;
  border-radius: 1px;
  transform: translate(-3px, 2.5px) rotateZ(-44deg);
  transform-origin: 1px 1px;
  background: #FFFFFF;
}
.agree_checkbox_dummy {
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: solid 1px transparent;
  border-color: rgb(173, 171, 171);
  border-radius: 4px;
  margin-right: 6px;
  margin-left: 3px;
}

.url {
  color: rgb(29, 185, 84);
}
